/* Alerta */

.alerta {
    font-size: 16px;
    line-height: 24px;
    background-color: #FEEDDD;
    border: 2px solid #F88923;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 32px auto;
    max-width: 540px;
    padding: 48px 46px 46px 36px ;
    background-repeat: no-repeat;
    background-size: 33px 32px;
    background-position: 100.4% -2%;
    position: relative;
}

.alerta:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0H27C29.7614 0 32 2.23858 32 5V32H5C2.23858 32 0 29.7614 0 27V0Z' fill='%23F88923'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16 25C20.4183 25 24 21.4183 24 17C24 12.5817 20.4183 9 16 9C11.5817 9 8 12.5817 8 17C8 21.4183 11.5817 25 16 25ZM16 27C21.5228 27 26 22.5228 26 17C26 11.4772 21.5228 7 16 7C10.4772 7 6 11.4772 6 17C6 22.5228 10.4772 27 16 27Z' fill='white'/><path d='M16.7617 21.7129C16.8628 21.6189 16.9213 21.4899 16.9213 21.3533V20.7458C16.9213 20.6091 16.8628 20.4801 16.7617 20.3861C16.6607 20.2924 16.5254 20.2408 16.3853 20.2408H15.7314C15.4422 20.2408 15.1954 20.4599 15.1954 20.7458V21.3533C15.1954 21.6392 15.4422 21.8583 15.7314 21.8583H16.3853C16.5254 21.8583 16.6607 21.8066 16.7617 21.7129ZM16.7778 18.5004C16.869 18.4157 16.9213 18.2993 16.9213 18.1764L16.9213 12.6429C16.9213 12.3845 16.6982 12.1885 16.4398 12.1885H15.6769C15.4186 12.1885 15.1954 12.3845 15.1954 12.6429V18.1764C15.1954 18.4347 15.4186 18.6307 15.6769 18.6307H16.4398C16.5653 18.6307 16.687 18.5848 16.7778 18.5004Z' fill='white' stroke='white' stroke-width='0.2'/></svg>");
    position: absolute;
    top: -2px;
    right: -2px;
}

/* Atenció */

.atencio {
    font-size: 14px;
    line-height: 20px;
    border: 3px solid #4B75E2;
    border-radius: 3px;
    margin: 32px auto;
    max-width: 480px;
    padding: 32px 38px;
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='29' height='27' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M0 0H29V27H3C1.34315 27 0 25.6569 0 24V0Z' fill='%234B75E2'/> <path d='M13.7549 5.069V13.5953H16.597V5.069H13.7549ZM13.7549 16.4375V19.2796H16.597V16.4375H13.7549Z' fill='white'/> </svg>");
    background-repeat: no-repeat;
    background-size: 29px 27px;
    background-position: 100% 0%;
}

.atencio:before {
    content:'Atenció!';
    font-weight: 900;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #4B75E2;
    text-transform: uppercase;
}

/* Cita */

.cita {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #244499;
    margin: 62px auto;
    max-width: 332px;
    position: relative;
}

.cita-referencia {
    text-align: right;
    margin-top: 24px;
}

.cita-referencia span {
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2px;
}

.cita-referencia span:after {
    content:', ';
    font-size: 16px;
}

.cita:before {
    position: absolute;
    top: -12px;
    left: -44px;
    z-index: -1;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='72' height='50' viewBox='0 0 72 50' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M0 32.6687C0 41.6898 7.24599 49.0047 16.1884 49.0047C25.128 49.0047 32.3768 41.6927 32.3768 32.6687C32.3768 23.7578 25.3032 16.5187 16.5151 16.3422C20.6007 12.2986 26.1987 9.79922 32.3768 9.79922L32.3737 0C14.4945 0 7.27253e-05 14.6273 7.27253e-05 32.6687H0ZM71.2258 0C53.3466 0 38.8521 14.6273 38.8521 32.6687C38.8521 41.6898 46.1011 49.0047 55.0405 49.0047C63.9799 49.0047 71.2289 41.6927 71.2289 32.6687C71.2289 23.7578 64.1553 16.5187 55.3672 16.3422C59.4529 12.2986 65.0539 9.79922 71.2289 9.79922L71.2258 0Z' fill='%23EEF3FF'/> </svg>");
}

.cita:after {
    position: absolute;
    bottom: -12px;
    right: -44px;
    z-index: -1;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='73' height='50' viewBox='0 0 73 50' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M72.2258 17.136C72.2258 8.16643 64.9798 0.893387 56.0374 0.893387C47.0978 0.893387 39.8491 8.16363 39.8491 17.136C39.8491 25.996 46.9226 33.1937 55.7107 33.3692C51.6251 37.3897 46.0271 39.8748 39.8491 39.8748L39.8521 49.618C57.7313 49.618 72.2258 35.0743 72.2258 17.136ZM1.00004 49.618C18.8793 49.618 33.3737 35.0743 33.3737 17.136C33.3737 8.16643 26.1247 0.893387 17.1853 0.893387C8.24594 0.893387 0.996941 8.16363 0.996941 17.136C0.996941 25.996 8.07051 33.1937 16.8586 33.3692C12.773 37.3897 7.17191 39.8748 0.996941 39.8748L1.00004 49.618Z' fill='%23EEF3FF'/> </svg>");
}

/* Consell */



.consell {
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF1FA;
    border: 2px solid #B00CA9;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 32px auto;
    max-width: 540px;
    padding: 48px 46px 46px 36px ;
    position: relative;
}


.consell:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0H27C29.7614 0 32 2.23858 32 5V32H5C2.23858 32 0 29.7614 0 27V0Z' fill='%23B00CA9'/><path fill-rule='evenodd' clip-rule='evenodd' d='M11.2352 16.5595C11.1329 16.3757 11.0304 16.2114 10.925 16.0426L10.9222 16.0381C10.8992 15.999 10.8764 15.9603 10.8539 15.9222C10.4679 15.2681 10.1609 14.7478 9.99413 13.9391C9.86517 13.4202 9.80005 12.8996 9.80005 12.3791C9.80005 8.75311 12.7532 5.8 16.3792 5.8C20.0056 5.8 22.9569 8.75304 22.9992 12.3759L22.9993 12.3783C22.9993 12.8988 22.9351 13.4402 22.805 13.9603C22.6385 14.7478 22.3324 15.2664 21.9478 15.9181C21.9245 15.9576 21.9009 15.9976 21.877 16.0381L21.8725 16.0458L21.8674 16.053C21.7707 16.1881 21.6721 16.3654 21.5658 16.5565L21.558 16.5703C21.4252 16.7797 21.3097 16.9712 21.194 17.1635C21.1829 17.182 21.1718 17.2005 21.1606 17.219L21.1597 17.2206C20.5929 18.1441 20.2838 18.65 20.2838 19.6842V22.3157C20.2838 23.0358 19.799 23.6548 19.1376 23.8305C18.9868 24.5174 18.701 25.0972 18.2635 25.5132C17.7954 25.9583 17.1703 26.2 16.3997 26.2C15.629 26.2 15.0039 25.9583 14.5358 25.5132C14.0975 25.0964 13.8115 24.5153 13.6609 23.8269C13.0055 23.6376 12.5155 23.0417 12.5155 22.3157V19.6842C12.5155 18.6501 12.2064 18.1442 11.6396 17.2206L11.6384 17.2186C11.5962 17.148 11.5473 17.071 11.496 16.9902C11.409 16.8534 11.315 16.7055 11.2352 16.5595ZM18.9261 19.6842C18.9261 19.6289 18.9302 19.5775 18.9349 19.5265C18.9355 19.5197 18.9361 19.5128 18.9368 19.506C18.9421 19.448 18.9475 19.3899 18.9475 19.3265H13.7896C13.802 19.3875 13.8072 19.4555 13.8094 19.5265C13.811 19.578 13.811 19.631 13.811 19.6842V20.3372H18.9269L18.9261 19.6842ZM21.279 13.6165C21.382 13.1845 21.4421 12.7799 21.4413 12.4002C21.4413 9.60517 19.1732 7.33663 16.3782 7.33663C13.5831 7.33663 11.315 9.60476 11.315 12.3998C11.315 12.8008 11.3753 13.2053 11.4776 13.6144L11.4784 13.6175C11.618 14.2163 11.8355 14.6147 12.233 15.2641L12.2375 15.2716L12.2414 15.2794C12.2771 15.351 12.3221 15.4239 12.3762 15.5114L12.3824 15.5215C12.4371 15.6101 12.4987 15.7106 12.5554 15.8234C12.6792 16.05 12.8014 16.2542 12.9235 16.4365L12.9266 16.4412C13.258 16.9676 13.5454 17.4542 13.7429 18.0106H19.0352C19.2173 17.5049 19.4857 17.0545 19.7639 16.5877C19.792 16.5406 19.8202 16.4933 19.8484 16.4457L19.854 16.4363C19.976 16.254 20.0985 16.05 20.2223 15.8235C20.3309 15.6067 20.4394 15.4327 20.5432 15.2665C20.5806 15.2001 20.6165 15.1366 20.651 15.0757C20.9707 14.5109 21.1702 14.1584 21.2774 13.6236L21.279 13.6165ZM15.7627 8.34964C16.1692 8.2946 16.5859 8.56272 16.621 8.98945C16.6742 9.38955 16.3897 9.784 15.9642 9.84063C14.9609 9.97642 14.1644 10.7885 14.0086 11.7996C13.9518 12.1635 13.6428 12.4535 13.2633 12.4535H13.1662L13.1531 12.4518C12.7282 12.3953 12.4402 12.0213 12.4967 11.5956L12.4971 11.593C12.7411 9.92486 14.0958 8.59447 15.7605 8.34996L15.7627 8.34964ZM15.0272 23.8842C15.0059 23.8216 14.9864 23.7551 14.9687 23.6842H17.8108C17.7918 23.7551 17.771 23.8216 17.7486 23.8842C17.3982 24.8635 16.6558 24.8635 16.379 24.8635C16.1023 24.8635 15.3599 24.8635 15.0272 23.8842ZM14.0428 22.5684H18.7163C18.8421 22.5684 18.9473 22.4631 18.9473 22.3364V21.4729H13.8109V22.3364C13.8109 22.4631 13.9162 22.5684 14.0428 22.5684Z' fill='white'/></svg>");
    position: absolute;
    top: -2px;
    right: -1px;
}

/* Exemple desplegable */


.exemple-desplegable {
    width: 100%;
    margin: 0 auto;
}

.exemple-desplegable > input[type="checkbox"] {
    position: absolute;
    opacity:0;
}
  
.exemple-desplegable .content {
    height: 0;
    opacity: 0;
    transition: opacity .3s ease, height .1s ease-in-out;
    
    border-top: 2px solid #1C7EFF;
    border-bottom: 2px solid #1C7EFF;
    background: #F9F9FB;
    max-width: 540px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.exemple-desplegable .content p {
    margin: 0;
    height: 0;
    overflow: hidden;
    padding: 0px;
}

.exemple-desplegable > input[type="checkbox"]:checked ~ .content {
    height: 100%;
    opacity: 1;
}

.exemple-desplegable > input[type="checkbox"]:checked ~ .content p {
    padding: 32px;
    height: auto;    
}

.exemple-desplegable label {
    cursor: pointer;
    padding: 7px 16px 7px 20px;
    display: inline-block;
    background: #1C7EFF;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
}
  
  .exemple-desplegable label:hover,
  .exemple-desplegable label:focus {
    box-shadow: 0px 3px 10px rgba(15, 27, 61, 0.14);
border-radius: 3px;
  }
  
  .exemple-desplegable .handle label:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.91622 6.39223L0.839791 2.25255C0.519646 1.93104 0.520068 1.41158 0.841057 1.0906L1.09062 0.841034C1.41203 0.519623 1.93243 0.519623 2.25384 0.841034L2.25649 0.843686L5.50014 4.14874L8.74614 0.844538C9.06755 0.523126 9.58797 0.523138 9.90938 0.84455L10.1589 1.09411C10.4799 1.41509 10.4804 1.93452 10.1602 2.25603L10.1589 2.25734L6.0786 6.40101C5.75742 6.71535 5.23931 6.71534 4.91839 6.39442L4.91622 6.39223Z' fill='white'/></svg>");
    display: inline-block;
    margin-left: 9px;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .exemple-desplegable > input[type="checkbox"]:checked ~ .handle label:after {
    content: url("data:image/svg+xml;charset=UTF-8,  <svg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.91622 0.843729L0.839791 4.98341C0.519646 5.30492 0.520068 5.82438 0.841057 6.14537L1.09062 6.39493C1.41203 6.71634 1.93243 6.71634 2.25384 6.39493L2.25649 6.39228L5.50014 3.08722L8.74614 6.39142C9.06755 6.71284 9.58797 6.71282 9.90938 6.39141L10.1589 6.14185C10.4799 5.82087 10.4804 5.30144 10.1602 4.97993L10.1589 4.97863L6.0786 0.834955C5.75742 0.520608 5.23931 0.520623 4.91839 0.841544L4.91622 0.843729Z' fill='white'/></svg>");
  }
  
/* Exemple */ 
 


.exemple {
    font-size: 14px;
    line-height: 19px;
    color: #3F4A68;
    background: #F1F4F8;
    border-radius: 3px;
    margin: 32px auto;
    width: 446px;
    padding: 26px 32px;
    position: relative;
}

.exemple:before {
    content:'exemple';
    font-weight: 900;
    font-size: 8px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    display: block;
    margin-bottom: 21px;
color: #2C51B1;
}

.exemple:after {
    content:'';
    border-bottom: 1px solid #2C51B1;
    width: 20px;
    display: block;
    position: absolute;
    top: 49px;
}

/* Èxit */



.exit {
    font-size: 16px;
    line-height: 24px;
    background-color: #E8F9EF;
    border: 2px solid #1CC460;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 32px auto;
    max-width: 540px;
    padding: 48px 46px 46px 36px ;
    position: relative;
}

.exit:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0H27C29.7614 0 32 2.23858 32 5V32H5C2.23858 32 0 29.7614 0 27V0Z' fill='%231CC460'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16 24C20.4183 24 24 20.4183 24 16C24 11.5817 20.4183 8 16 8C11.5817 8 8 11.5817 8 16C8 20.4183 11.5817 24 16 24ZM16 26C21.5228 26 26 21.5228 26 16C26 10.4772 21.5228 6 16 6C10.4772 6 6 10.4772 6 16C6 21.5228 10.4772 26 16 26Z' fill='white'/><path fill-rule='evenodd' clip-rule='evenodd' d='M21.0137 12.7813L15.4379 20.5873L10.6265 17.2192L11.7734 15.5808L14.9619 17.8128L19.3862 11.6188L21.0137 12.7813Z' fill='white'/></svg>");
    position: absolute;
    top: -2px;
    right: -2px;
}

/* Feedback del professor */



.feedback-del-professor {
    background-color: #F1F4F8;
    border-radius: 3px;
    margin: 48px auto;
    max-width: 544px;
    padding: 43px 48px;  
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #505B78;
    position: relative;
}

.feedback-del-professor:before {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'> <circle cx='16' cy='16' r='16' fill='%232548A9'/> <path d='M24.4877 11.4074L20.1773 14.8149V12.6101H9.323V10.2048H20.1773V8L24.4877 11.4074Z' fill='%23F5F8FF'/> <path d='M7.55312 20.2744L11.8635 23.6818V21.477H22.7178V19.0718H11.8635V16.8669L7.55312 20.2744Z' fill='%23F5F8FF'/> </svg>");
    position: absolute;
    top: -16px;
    left: -16px;
}

/* Figura */



.feedback-del-professor {
    background-color: #F1F4F8;
    border-radius: 3px;
    margin: 48px auto;
    max-width: 544px;
    padding: 43px 48px;  
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #505B78;
    position: relative;
}

.feedback-del-professor:before {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'> <circle cx='16' cy='16' r='16' fill='%232548A9'/> <path d='M24.4877 11.4074L20.1773 14.8149V12.6101H9.323V10.2048H20.1773V8L24.4877 11.4074Z' fill='%23F5F8FF'/> <path d='M7.55312 20.2744L11.8635 23.6818V21.477H22.7178V19.0718H11.8635V16.8669L7.55312 20.2744Z' fill='%23F5F8FF'/> </svg>");
    position: absolute;
    top: -16px;
    left: -16px;
}

/* Paràgraf de context */

.paragraf-context {
    font-style: italic;
    color: #616D8E;
}

/* Pauta de comprovació */



.pauta-comprovacio {
    background: #F1F4F8;
    margin: 67px auto;
    position: relative;
    width: 348px;
    border-radius: 3px;
}

.pauta-comprovacio h3 {
    display: block;
    position: relative;
    text-align: center;
    letter-spacing: .2px;
    font-weight: 900;
    font-size: 14px;
    line-height: 34px;
    color: #F2F5FF;
    background-color: #2F53B7;
    width: calc(100% + 2px);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: -1px;
    margin-left: -1px;
}

.pauta-comprovacio ul {
    padding: 24px 34px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
    justify-content: flex-start;
    align-items: stretch;
}

.pauta-comprovacio ul li {
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
    color: #0F1B3D;
    margin-bottom: 14px;
}

.pauta-comprovacio ul li:last-of-type {
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
    color: #0F1B3D;
    margin-bottom: -8px;
}

.pauta-comprovacio ul li label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.pauta-comprovacio ul li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.pauta-comprovacio ul li .ioc-checkbox {
    position: absolute;
    top: 1px;
    left: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='0.75' y='0.75' width='14.5' height='14.5' rx='1.25' stroke='%232F53B7' stroke-width='1.5'/> </svg>");
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.pauta-comprovacio ul li input:checked~.ioc-checkbox {
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='0.75' y='0.75' width='14.5' height='14.5' rx='1.25' stroke='%232F53B7' fill='%232F53B7' stroke-width='1.5'/> </svg>");
}

/* Perill */



.perill {
    font-size: 16px;
    line-height: 24px;
    background-color: #FEF7F8;
    border: 2px solid #E00E2C;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 32px auto;
    max-width: 540px;
    padding: 48px 46px 46px 36px ;
    position: relative;
}

.perill:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0H27C29.7614 0 32 2.23858 32 5V32H5C2.23858 32 0 29.7614 0 27V0Z' fill='%23E00E2C'/><path fill-rule='evenodd' clip-rule='evenodd' d='M16.0042 9.67924L8.41573 22.4727H23.585L16.0042 9.67924ZM25.8638 22.7875C26.0445 23.0925 26.0456 23.4682 25.866 23.7732C25.6865 24.0793 25.3535 24.2694 24.991 24.2727H7.00897C6.64759 24.2694 6.31464 24.0793 6.13395 23.7732C5.95441 23.4682 5.95554 23.0925 6.13623 22.7875L15.2363 7.44535C15.3886 7.17129 15.6841 7 16.0045 7C16.325 7 16.6205 7.17129 16.7727 7.44535L25.8638 22.7875Z' fill='white'/><path d='M16.7617 20.7129C16.8628 20.6189 16.9213 20.4899 16.9213 20.3533V19.7458C16.9213 19.6091 16.8628 19.4801 16.7617 19.3861C16.6607 19.2924 16.5254 19.2408 16.3853 19.2408H15.7314C15.4422 19.2408 15.1954 19.4599 15.1954 19.7458V20.3533C15.1954 20.6392 15.4422 20.8583 15.7314 20.8583H16.3853C16.5254 20.8583 16.6607 20.8066 16.7617 20.7129ZM16.7778 18.5004C16.869 18.4157 16.9213 18.2993 16.9213 18.1764L16.9213 14.6429C16.9213 14.3845 16.6982 14.1885 16.4398 14.1885H15.6769C15.4186 14.1885 15.1954 14.3845 15.1954 14.6429V18.1764C15.1954 18.4347 15.4186 18.6307 15.6769 18.6307H16.4398C16.5653 18.6307 16.687 18.5848 16.7778 18.5004Z' fill='white' stroke='white' stroke-width='0.2'/></svg>");
    position: absolute;
    top: -2px;
    right: -1px;
}

/* Recorda */



.recorda {
    font-size: 16px;
    line-height: 24px;
    background-color: #F9FBFF;
    border: 2px solid #2A84F9;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 32px auto;
    max-width: 540px;
    padding: 48px 46px 46px 36px ;
    position: relative;
}


.recorda:after {
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0H28C30.7614 0 33 2.23858 33 5V32H5C2.23858 32 0 29.7614 0 27V0Z' fill='%232A84F9'/><path d='M22.5591 13.1016L22.5589 13.1018L19.5281 18.2543C19.4013 18.4686 19.3767 18.7269 19.4604 18.9612L19.4605 18.9615C19.6931 19.6065 19.7574 20.1375 19.7164 20.5609L12.0866 12.9311C12.51 12.8901 13.041 12.9543 13.6859 13.1869L13.6862 13.187C13.9205 13.2708 14.1788 13.2462 14.3932 13.1194C14.3932 13.1194 14.3932 13.1194 14.3932 13.1194L19.5457 10.0885L19.5459 10.0884C19.7677 9.95717 19.9177 9.73061 19.9494 9.47429C19.9823 9.21828 19.8947 8.9616 19.7118 8.77877C19.5499 8.61688 19.5499 8.38929 19.7118 8.2274C19.8737 8.06551 20.1013 8.06551 20.2632 8.2274L20.2633 8.22749L24.4201 12.3843C24.582 12.5462 24.582 12.7738 24.4201 12.9356C24.2582 13.0975 24.0306 13.0975 23.8687 12.9356C23.6859 12.7529 23.4294 12.6652 23.1735 12.6981C22.917 12.7296 22.6903 12.8797 22.5591 13.1016ZM21.4439 7.04687C20.6464 6.2494 19.3288 6.2494 18.5313 7.04687C17.9918 7.58636 17.8372 8.3578 18.0242 9.04636L13.8476 11.5016C12.4343 11.082 10.9972 11.117 10.0445 12.0697C9.71861 12.3956 9.71861 12.9244 10.0445 13.2503L14.1306 17.3364L7.79343 23.6735C7.47573 23.9826 7.46762 24.551 7.7821 24.8655C8.09658 25.1799 8.66491 25.1718 8.97402 24.8542L15.3112 18.517L19.3973 22.603C19.7232 22.929 20.252 22.929 20.5779 22.603C21.5305 21.6504 21.5655 20.2133 21.146 18.7999L23.6012 14.6234C24.2898 14.8103 25.0612 14.6557 25.6007 14.1163C26.3982 13.3188 26.3982 12.0011 25.6007 11.2037L21.4439 7.04687Z' fill='white' stroke='white' stroke-width='0.2'/></svg>");
    position: absolute;
    top: -2px;
    right: -2px;
}

/* Rètol inline */

.retol-inline  {
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    color: #F2F5FF;
    background: #2F67F9;
    border-radius: 3px;
    padding: 3px 9px;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

/* Temps previst */

.temps-previst {
    font-weight: bold;
    font-size: 14px;
    color: #244499;
    border: 1.5px solid #2C51B1;
    border-radius: 2px;
    display: inline-block;
    margin-left: 80%;
    padding: 2px 7px;
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M0.199951 8.99999C0.2006 13.585 3.91554 17.2993 8.49928 17.2999C10.7902 17.3006 12.8687 16.3698 14.3689 14.8684C14.6866 14.5506 14.6867 14.0356 14.3689 13.7179C14.0509 13.4019 13.5365 13.4003 13.2184 13.7183C10.6463 16.2892 6.35363 16.2894 3.78151 13.7184C2.57232 12.5092 1.82682 10.8451 1.82682 8.99994C1.82682 7.156 2.57277 5.49139 3.78146 4.28156C4.99072 3.0729 6.65545 2.32682 8.4993 2.32682C8.94849 2.32682 9.31305 1.96208 9.31305 1.51303C9.31206 1.06425 8.94819 0.699951 8.49864 0.699951C3.91548 0.7006 0.200615 4.41697 0.199951 8.99999ZM10.2206 11.9073C10.5384 12.224 11.0531 12.224 11.3708 11.9063C11.687 11.5891 11.6883 11.0746 11.371 10.7571L11.3699 10.756L9.80052 9.16055C9.48775 8.84258 9.31247 8.41443 9.31247 7.96842V4.53664C9.31247 4.08721 8.94816 3.7229 8.49873 3.7229C8.0497 3.7229 7.68563 4.08747 7.68561 4.53664L7.68498 8.99984C7.68498 9.21616 7.77023 9.42141 7.92264 9.57426L7.92348 9.57509L10.2187 11.9053L10.2206 11.9073ZM14.9191 5.06149C15.3261 4.86792 15.81 5.0432 16.0025 5.44705C16.118 5.69099 16.222 5.94196 16.314 6.19778C16.4655 6.62062 16.2458 7.08642 15.8229 7.23795C15.4001 7.38947 14.9346 7.16959 14.783 6.74674C14.7097 6.54158 14.626 6.34065 14.5332 6.14429C14.3397 5.73852 14.5145 5.25396 14.9191 5.06149ZM14.6522 3.42904C14.47 3.22803 14.2788 3.03684 14.0786 2.85483C13.7457 2.55346 13.2312 2.57722 12.929 2.91014C12.6268 3.24304 12.6522 3.75717 12.9852 4.05958C13.1464 4.20582 13.3001 4.36005 13.4468 4.52179C13.7484 4.85515 14.2636 4.87899 14.5959 4.57828C14.9281 4.27673 14.9544 3.76215 14.6522 3.42904ZM10.269 1.67813C10.4214 1.25542 10.8868 1.03676 11.3092 1.18811C11.5646 1.28057 11.816 1.38468 12.0607 1.50181C12.4662 1.69512 12.638 2.17936 12.4453 2.58537C12.2524 2.99001 11.7673 3.164 11.3611 2.97081C11.165 2.87756 10.9641 2.79387 10.7578 2.71971L10.7565 2.71924C10.3359 2.56584 10.1177 2.10042 10.269 1.67813ZM15.9436 7.79589C16.3923 7.77106 16.7754 8.11402 16.8011 8.562C16.8158 8.83324 16.8182 9.10533 16.806 9.37631C16.7865 9.82512 16.4078 10.1724 15.9588 10.1537C15.511 10.1343 15.1613 9.75568 15.1804 9.30628C15.1896 9.08937 15.1882 8.87176 15.1758 8.65287L15.1757 8.65148C15.1526 8.20437 15.4958 7.82163 15.9436 7.79589ZM16.3218 11.7914C16.4733 11.369 16.2547 10.9036 15.832 10.751C15.4097 10.5997 14.9443 10.8178 14.7908 11.2384L14.7903 11.2397C14.7161 11.446 14.6324 11.6469 14.5391 11.8429C14.3459 12.2491 14.5198 12.7343 14.9244 12.9272C15.3304 13.1199 15.8146 12.9483 16.008 12.5428C16.1252 12.2982 16.2293 12.0468 16.3218 11.7914Z' fill='%232C51B1'/></svg>");
    background-repeat: no-repeat;
    background-size: 17px 18px;
    background-position: 90% 50%;
}

.temps-previst:after {
    content: ' min.';
    margin-right: 20px;
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
}

/* Termini de lliurament */



.termini-de-lliurament {
    height: 20px;
    min-width: 40%;
    background-color: #2F53B7;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    display: block;
    float: right;
    padding: 1px 6px 3px 32px;
    position: relative;
}

.termini-de-lliurament span {
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.termini-de-lliurament .dia {
    font-size: 12px;
}

.termini-de-lliurament:before {
    position: absolute;
    top: -9px;
    left: 6px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='20' height='25' viewBox='0 0 20 25' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='1' y='6.03906' width='18' height='17' fill='white'/><path d='M8.70982 11.5939V16.2658C8.72768 16.5488 8.95982 16.7734 9.24554 16.7734H10.7545C11.0357 16.7734 11.2723 16.5533 11.2902 16.2658V11.5939C11.308 11.284 11.0625 11.0234 10.7545 11.0234H9.24554C8.9375 11.0234 8.69196 11.284 8.70982 11.5939ZM11.2902 19.2891C11.2902 20.2818 10.9866 20.5391 10 20.5391C9.01339 20.5391 8.70982 20.2818 8.70982 19.2891C8.70982 18.2963 9.01339 18.0391 10 18.0391C10.9866 18.0391 11.2902 18.2963 11.2902 19.2891ZM17.8571 3.07812L16 3.03906V0.539062C16 0.242578 15.7589 0 15.4643 0L13.5357 0.0390625C13.2411 0.0390625 13 0.281641 13 0.578125V3.07812H7V0.578125C7 0.281641 6.75893 0.0390625 6.46429 0.0390625H4.5C4.20536 0.0390625 3.96429 0.281641 3.96429 0.578125V3.07812H2.14286C0.959821 3.07812 0 3.87988 0 5.07031V21.8828C0 23.0732 0.959821 24.0391 2.14286 24.0391H17.8571C19.0402 24.0391 20 23.0732 20 21.8828V5.07031C20 3.87988 19.0402 3.07812 17.8571 3.07812ZM17.5893 23.0391H2.41071C1 23.0391 1 21.7615 1 21.6133V8.03906H19V21.6133C19 23.0391 17.7366 23.0391 17.5893 23.0391Z' fill='%232C51B1'/></svg>");
}

/* Text destacat */



.termini-de-lliurament {
    height: 20px;
    min-width: 40%;
    background-color: #2F53B7;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    display: block;
    float: right;
    padding: 1px 6px 3px 32px;
    position: relative;
}

.termini-de-lliurament span {
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}

.termini-de-lliurament .dia {
    font-size: 12px;
}

.termini-de-lliurament:before {
    position: absolute;
    top: -9px;
    left: 6px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='20' height='25' viewBox='0 0 20 25' fill='none' xmlns='http://www.w3.org/2000/svg'> <rect x='1' y='6.03906' width='18' height='17' fill='white'/><path d='M8.70982 11.5939V16.2658C8.72768 16.5488 8.95982 16.7734 9.24554 16.7734H10.7545C11.0357 16.7734 11.2723 16.5533 11.2902 16.2658V11.5939C11.308 11.284 11.0625 11.0234 10.7545 11.0234H9.24554C8.9375 11.0234 8.69196 11.284 8.70982 11.5939ZM11.2902 19.2891C11.2902 20.2818 10.9866 20.5391 10 20.5391C9.01339 20.5391 8.70982 20.2818 8.70982 19.2891C8.70982 18.2963 9.01339 18.0391 10 18.0391C10.9866 18.0391 11.2902 18.2963 11.2902 19.2891ZM17.8571 3.07812L16 3.03906V0.539062C16 0.242578 15.7589 0 15.4643 0L13.5357 0.0390625C13.2411 0.0390625 13 0.281641 13 0.578125V3.07812H7V0.578125C7 0.281641 6.75893 0.0390625 6.46429 0.0390625H4.5C4.20536 0.0390625 3.96429 0.281641 3.96429 0.578125V3.07812H2.14286C0.959821 3.07812 0 3.87988 0 5.07031V21.8828C0 23.0732 0.959821 24.0391 2.14286 24.0391H17.8571C19.0402 24.0391 20 23.0732 20 21.8828V5.07031C20 3.87988 19.0402 3.07812 17.8571 3.07812ZM17.5893 23.0391H2.41071C1 23.0391 1 21.7615 1 21.6133V8.03906H19V21.6133C19 23.0391 17.7366 23.0391 17.5893 23.0391Z' fill='%232C51B1'/></svg>");
}



























