body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: Lato, 'sans-serif';
}

/* Code formatting */

.code-block {
    border-radius: 3px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f2f0;
    padding: 22px 8px 0 8px;
    position: relative;
    max-width: 80%;
    overflow: hidden;
    max-height: 200px;
}

.code-block code {
    font-size: 87.5% !important;
}

.code-block pre {
    
    font-size: 87.5% !important;
    overflow-y: hidden;

}

.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
}

.btn-clipboard:hover,
.btn-clipboard:active {
    color: #fff;
    background-color: #027de7;
}

.code-block-alternates {
    border-radius: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f2f0;
    padding: 10px;
    position: relative;
    max-width: 80%;
    overflow: hidden;
    display: inline-block;
}

.code-block-alternates code {
    font-size: 87.5% !important;
}

.code-block-alternates pre {
    
    font-size: 87.5% !important;
    overflow-y: hidden;

}

/* Text */

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/* Buttons */

.btn {
    font-weight: 900;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-outline-primary {
  color: #2548A9;  
  border-color: #2548A9;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #2548A9;
    border-color: #2548A9;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #2548A9;
    border-color: #2548A9;
}





pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: transparent;
}

h1 {
    font-size: 34px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 48px;
    color: #4844A3;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 36px;
    margin-top: 48px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 36px;
    font-style: italic;
}

.lead {
  font-size: 20px;
  font-weight: 400;
  color: gray;
  font-style: italic;
  margin-top: -20px;
}


#side-main-menu { 
  box-shadow: 1px 0 4px rgba(0,0,0,.1);
  background-color: #4844A3 !important;
  color: #EEEEF6;
}

#side-main-menu a { 
    color: #EEEEF6;
  }

#side-main-menu a.disabled{ 
color: #7977BC;
}  

.roadmap {
  color: #DD781D;
}


.updates {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 92, 71);
    letter-spacing: 1px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 3px;
}

.update-card {
  background-color: aliceblue;
  padding: 24px;
  margin-bottom: 36px;
}

.data-update {
    font-size: 14px;
    font-weight: 600;
}

.pendent {
    background-color: rgba(0, 255, 255, 0.726);
    padding: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
    color: rgb(187, 84, 0);
}

.pendent h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 24px 0;
    text-align: center;
}

.en-desenvolupament {
    background-color: rgba(255, 196, 0, 0.726);
    color: rgb(187, 84, 0);
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 2px;
    white-space: nowrap;
    text-transform: uppercase;
}

.compte {
    background-color: rgb(255, 221, 221);
    color: rgb(187, 22, 0);
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 2px;
    white-space: nowrap;
    text-transform: uppercase;
}

.template-retol {
    background-color: #fff;
    color: #4844A3;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    margin-left: 6px;
}

.template-retol-neg {
    background-color: #4844A3;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 6px;
}

/* Recursos de layout */

.destacat {
    background-color: aliceblue;
    padding: 16px;
    width: 80%;
    margin: 24px auto;
    text-align: center;
    border-radius: 2px;
}

.color {
    white-space: nowrap;
}

.color:before {
    content:'';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: #121232;
    margin-right: 4px;
}

.navbar-brand.font-weight-bold {
    font-size: 18px;
    color: #FE5F55 !important;
    padding-top: 36px;
}

.mail-button {
    height: 64px;
    width: 64px;
    border-radius: 100px;
    position: fixed;
    right: 24px;
    top: 24px;
    box-shadow: 0px 2px 5px rgba(2,0,0,.2);
    background-color: #EB6373;
    z-index: 10;
}

.mail-button:active {
    top: 25px;
    box-shadow: 0px 2px 5px rgba(2,0,0,.1);
    
}

.mail-button img {
    display: block;
    margin: 21px auto;
}

#categoria-1-img {
    width: 90px;
}

.accordion .card{
    border: 1px solid rgb(209, 215, 243);
}

.accordion .card-header {
    background-color: aliceblue;
}

.accordion .card-header h2 {
    margin-top: 0;
}

.accordion .card-header h2 button {
    font-size: 16px;
    font-weight: 600;
    color: #4844A3;
}


.nounderline {
    text-decoration: none !important
}